<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Détail de l'article</title>
    <link rel="stylesheet" href="/Style/articleStyl.css"/>
    <link rel="stylesheet" href="/Style/Accueil.css" />
</head>
<body>
<nav>
    <ul>
        <li><a href="/" th:href="@{/}">Home</a></li>
        <li><a href="/help" th:href="@{/help}">Help</a></li>
        <li>
            <a href="/rss25SB/resume/html" th:href="@{/rss25SB/resume/html}"
            >Articles (HTML)</a
            >
        </li>
        <li>
            <a href="/rss25SB/resume/xml" th:href="@{/rss25SB/resume/xml}"
            >Articles (XML)</a
            >
        </li>

        <li>
            <a th:href="@{/transfert}">Transférer un fichier</a>
        </li>

        <li>
            <a th:href="@{/convert}">Convertir un fichier</a>
        </li>
    </ul>
</nav>
    <h1 th:text="${item.title}">Titre</h1>
    <p><strong>GUID :</strong> <span th:text="${item.guid}"></span></p>
    <p><strong>Date :</strong>
        <span th:text="${item.published != null ? item.published : item.updated}"></span>
    </p>
    <p><strong>Contenu :</strong></p>
    <div class="content-block" th:utext="${item.content != null ? item.content.content : 'Pas de contenu'}"></div>

    <p><strong>Auteurs :</strong>
        <span class="author" th:each="author : ${item.author}" th:text="${author.name} + ' '" />
    </p>

    <p><strong>Catégories :</strong>
        <span class="category" th:each="cat : ${item.category}" th:text="${cat.term} + ' '" />
    </p>

    <p><strong>Image :</strong></p>
    <div th:if="${item.image != null}">
        <img th:src="${item.image.href}" th:alt="${item.image.alt}" />
    </div>
</body>
</html>
